section
  h1#alerts Alerts
  .alert.alert-success(role="alert") Success alert
  .alert.alert-info(role="alert") Info alert
  .alert.alert-warning(role="alert") Warning alert
  .alert.alert-danger(role="alert") Danger alert
