section
  h1#buttons Buttons
  .btn-row
    a.btn.btn-default Default
    a.btn.btn-primary Primary
    a.btn.btn-success Success
    a.btn.btn-info Info
    a.btn.btn-warning Warning
    a.btn.btn-danger Danger
    a.btn.btn-primary.btn-lg Large
    a.btn.btn-primary.btn-sm Small
    a.btn.btn-primary.btn-xs Extra small
