section
  h1#dropdown Dropdown Menu

  .btn-group.dropdown.open
    button.btn.btn-default.dropdown-toggle(type="button" aria-expanded="true")
      i.fa.fa-cog
        | &nbsp;
      i.fa.fa-chevron-down
    ul.dropdown-menu(role="menu")
      li
        a Thing 1
      li
        a Thing 2
      li
        a Thing 3
