section
  h1#labels Labels
  span.label.label-default Default label&nbsp;
  span.label.label-primary Primary label&nbsp;
  span.label.label-success Complete label&nbsp;
  span.label.label-info In progress label&nbsp;
  span.label.label-warning In review label&nbsp;
  span.label.label-danger Rejected label
