html
	head
		title QBoot
		link(rel="stylesheet" type="text/css" href="/qboot.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		script(src="/qboot.js")
	body
		.container-fluid
			.row
				.sidebar.col-sm-2
					a(href="#")
						img.logo(src="https://s3-eu-west-1.amazonaws.com/quill-platform-assets/logowithlines.png")
					ul.nav.nav-pills.nav-stacked
						li
							a(href="#typography") Typography
						li
							a(href="#buttons") Buttons
						li
							a(href="#labels") Labels
						li
							a(href="#forms") Forms
						li 
							a(href="dropdown") Dropdown
						li
							a(href="#alerts") Alerts
						li
							a(href="#tables") Tables
					.user-details
						div(style="min-height:50px;margin-bottom:1em;")
							.avatar-and-name
								img.avatar(src="http://i.imgur.com/WxrMakT.jpg")
								.name Marnie Dog
						nav-wrapper
							ul.nav.nav-pills.nav-stacked
								li
									a
										i.fa.fa-cog
										&nbsp;
										= 'Settings'
								li
									a
										i.fa.fa-sign-out
										&nbsp;
										= 'Logout'

				.content.col-sm-10
					.scroll
						.page-header
							h1 QBoot

						include ./partials/typography
						include ./partials/buttons
						include ./partials/labels
						include ./partials/alerts
						include ./partials/forms
						include ./partials/dropdown-menu
						include ./partials/tables
